@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Lato', sans-serif;
    height: 200vh;
  }
  /* font-family: 'Poppins', sans-serif; */


  /* =========Top nav============ */

  .details-topnav{
    background-color: #0f0f3d;
    clip-path: polygon(0 0, 100% 0, 86.5% 101%, 0% 101%);
  }

  .logo-container{
    width: 200px;
    /* position: absolute; */
    /* top: 0; */
    clip-path: polygon(0 0, 100% 0, 86.5% 101%, 0% 101%);
  }


  /* ==============Navbar============ */
  .navlink a:hover,
  .active {
    color: red !important;
  }
  .navlink a{
    position: relative;
    transition: all .4s;
  }
  .navlink a::after{
content: '';
position: absolute;
left: 0;
bottom: -2px;
width: 0%;
height: 2px;
background-color: red;
transition: all .4s;
  }

  a.active::after{
    width: 100%;
  }
 
  .navlink:hover a::after{
    width: 100%;
  }

  /* ==========Slider============== */

/* .slide img{
animation: zoom 20s ease-in infinite;
}
 @keyframes zoom {
  0%{
    scale: 1;
  }
  100%{
    scale: 2;
  }
 } */


 /* ===========About section ============= */

 .img-box{
  clip-path: polygon(0 0, 100% 0, 92% 101%, 0% 101%);
 }


 /* ==========trending offer============== */

 .section-heading h2,
 .treding-heading{
  position: relative;
 }
 .section-heading h2::after,
 .treding-heading::after{
  content: '';
  position: absolute;
  left: 45%;
  margin: 0 auto;
  bottom: -20px;
  width: 100px;
  height: 4px;
  background-color: #0ab7fc;
 }


 .section-heading h2::after{
background-color: white;
 }

 /* ===============service================= */

 .service-wrapper .service .overlay{
  transform: translateY(-100px);
  visibility: hidden;
  opacity: 0;
  transition: all .4s;
 }
 .service:hover .overlay{
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
 }

 /* ==========offers=============== */

 .offer-section{
  background-image: linear-gradient(rgba(4, 11, 105, 0.5),rgba(11, 17, 77, 0.5)),url('./assets/service-1.jpg');
  /* background-size: cover;
  background-repeat: no-repeat; */
 }




 /* =========Footer============ */

 .footer-section{
  background-image: linear-gradient(rgba(7, 10, 46, 0.925),rgba(6, 9, 39, 0.863)),url('./assets//slide-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 }

 .bottom-footer{
  clip-path: polygon(0 0, 100% 0, 86.5% 101%, 0% 101%);

 }



 /* ===================
  */
  .bredcrumb{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('./assets/man-polish-salon-car-garage.jpg');
    background-position: center;
  }

  /* ==========Team Member card=========== */

  .img-wrapper{
    position: relative;
  }
.img-wrapper img{
  position: relative;
  clip-path: polygon(0 0, 97% 0, 100% 100%, 0% 100%);
}
  .img-wrapper::before{
    content: '';
    position: absolute;
    width: 95%;
    left: 0px;
    top: 20px;
    bottom: 0;
    background-color: orange;
    clip-path :polygon(0 0, 100% 0, 95% 100%, 0% 100%);
    transition: all .4s ease;
  }
  .img-wrapper::after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 70px;
    width: 30px;
    background-color: red;
    background-color: transparent;
    border: 1px solid black;
    border-right: 0;
    border-top: 0;
    transition: all .4s ease;
  }
  .member:hover .img-wrapper::after{
    left: -15px;
    bottom: -15px;
  }
  .member:hover  .img-wrapper::before{
    left:20px;
    width: 100%;
  }
