.dateInput {
  line-height: 30px;
  padding: 2px 0.5em;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  margin: 20px 20px 0;
}

.back {
  height: 36px;
  width: 54px;
  background: #fafafa;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  color: #444;
  font-size: 14px;
  outline: none;
}

.back:hover {
  background: #ccc;
}

.main {
  width: 270px;
  border: 1px solid #e4e7ed;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  margin: 20px;
  font-family: Tahoma;
  user-select: none;
  padding: 5px 10px;
}

.main .header {
  padding: 15px 12px;
  color: #444;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.main .header .changeYear {
  color: #0073e3;
  cursor: pointer;
}

.main .header .yearInput {
  position: absolute;
  top: 12px;
  left: 65px;
  font-size: 18px;
  width: 60px;
}

.main .header .changeMonth {
  cursor: pointer;
}

.main .header .changeMonth .nextMonth {
  margin-left: 15px;
}

.main .content {
  font-size: 14px;
}

.main .content .nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
  color: #333;
}

.main .content .dates {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.main .content .dates li {
  width: calc(250px / 7);
  height: calc(250px / 7);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  color: #333;
}

.main .content .dates li.outDate {
  color: #aaa;
}
 li.pointDate {
  color: #fff;
  background: #0073e3;
}

.main .content .dates li.today {
  color: #0073e3;
}
